<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Port name</key>
	<string>/dev/cu.usbmodem1421</string>
	<key>Command</key>
	<array>
		<string>2</string>
		<string>3</string>
		<string>4</string>
	</array>
	<key>Baud rate</key>
	<string>9600</string>
</dict>
</plist>
